<h2>Reporter output</h2><table><tr><td><div "featureFile">Feature File: test.feature</div></td></tr>
<tr><td><div "feature">Feature: Test Feature</div></td></tr>
<tr><td><div "result">Given  user get logged in using [loginInformation] (failed : 108s)</div></td></tr>
<tr><td><div "result">And  user landed into homepage (skipped)</div></td></tr>
<tr><td><div "scenario">Scenario: Fill and Submit Passport Detail in HRMS</div></td></tr>
<tr><td><div "result">When  user select &#x27;Requests&#x27; tab on homepage (skipped)</div></td></tr>
</table>